body {
    background-color: #CBC3E3;
}

.container {
    width: 100%;
    margin: auto;
}

.left {
    text-justify: inter-word;
    text-align: justify;
}

/* #inputP {
    top: 10%;
    left: 10%;
    position: relative;
} */

/* #translation {
    
} */